.group
  = f.label :page_title, t("activerecord.attributes.page.page_title", :default => "Page title"), :class => :label
  = f.text_field :page_title, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :page_description, t("activerecord.attributes.page.page_description", :default => "Page description"), :class => :label
  = f.text_area :page_description, :class => 'text_area'
  = render :partial => "/shared/text_editor"
  %span.description Ex: a simple text
.group
  = f.label :page_keywords, t("activerecord.attributes.page.page_keywords", :default => "Page keywords"), :class => :label
  = f.text_field :page_keywords, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :heading, t("activerecord.attributes.page.heading", :default => "Heading"), :class => :label
  = f.text_field :heading, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :body, t("activerecord.attributes.page.body", :default => "Body"), :class => :label
  = f.text_area :body, :class => 'text_area'
  %span.description Ex: a simple text
.group
  = f.label :sidebar, t("activerecord.attributes.page.sidebar", :default => "Sidebar"), :class => :label
  = f.check_box :sidebar, :class => 'check_box'
  %span.description Ex: a simple text
.file_group
  = f.label :page_image_file_name, t("activerecord.attributes.page.page_image_file_name", :default => "Page image file name"), :class => :label
  = f.file_field  :page_image_file_name, :class => "file_upload"
  %span.description
    Current Image:
    = @page.page_image_file_name ? (image_tag @page.page_image.url(:thumb)) : "None"
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_pages_path, :class => "text_button_padding link_button"
