%h1 Listing admin_pages

%table
  %tr
    %th Page title
    %th Page description
    %th Page keywords
    %th Heading
    %th Body
    %th Sidebar
    %th Page image file name
    %th Page image content type
    %th Page image file size
    %th Page image updated at
    %th
    %th
    %th

  - @admin_pages.each do |admin_page|
    %tr
      %td= admin_page.page_title
      %td= admin_page.page_description
      %td= admin_page.page_keywords
      %td= admin_page.heading
      %td= admin_page.body
      %td= admin_page.sidebar
      %td= admin_page.page_image_file_name
      %td= admin_page.page_image_content_type
      %td= admin_page.page_image_file_size
      %td= admin_page.page_image_updated_at
      %td= link_to 'Show', admin_page
      %td= link_to 'Edit', edit_admin_page_path(admin_page)
      %td= link_to 'Destroy', admin_page, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Page', new_admin_page_path
