.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_pages_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_page_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_page_path
  .content
    .inner
      %p
        %strong
          = t("activerecord.attributes.admin_page.page_title", :default => t("activerecord.labels.page_title", :default => "Page"))
          \:
        = @page.title
      %p
        %strong
          = t("activerecord.attributes.admin_page.heading", :default => t("activerecord.labels.heading", :default => "Heading"))
          \:
        = @page.heading
      %p
        %strong
          = t("activerecord.attributes.admin_page.body", :default => t("activerecord.labels.body", :default => "Body"))
          \:
      .formatted_text_area
        = @page.body.html_safe
      %p
        %strong
          = t("activerecord.attributes.admin_page.sidebar", :default => t("activerecord.labels.sidebar", :default => "Sidebar"))
          \:
        = @page.sidebar
      %p
        %strong
          = t("activerecord.attributes.admin_page.page_image_file_name", :default => t("activerecord.labels.page_image_file_name", :default => "Page Image"))
          \:
        %br/
        = @page.page_image_file_name ? (image_tag @page.page_image.url(:thumb)) : "None"
      #meta_items_show
        %h3 Meta Items
        %p
          %strong
            = t("activerecord.attributes.admin_page.page_title", :default => t("activerecord.labels.page_title", :default => "Page title"))
            \:
          = @page.page_title
        %p
          %strong
            = t("activerecord.attributes.admin_page.page_description", :default => t("activerecord.labels.page_description", :default => "Page description"))
            \:
        %p
          = @page.page_description
        %p
          %strong
            = t("activerecord.attributes.admin_page.page_keywords", :default => t("activerecord.labels.page_keywords", :default => "Page keywords"))
            \:
          = @page.page_keywords
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_page_path(@page), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_page_path(@page), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
