.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_services_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_service_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Services
    .inner
      %table.table
        %tr
          %th
            = t("activerecord.attributes.admin_service.title", :default => t("activerecord.labels.title", :default => "Title"))
          %th= t("web-app-theme.created_at", :default => "Updated at")
          %th.last &nbsp;
        - @services.each do |service|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to service.title, admin_service_path(service)
            %td
              = service.updated_at.strftime("%D")
            %td.last
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_service_path(service)
              |
              = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_service_path(service), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
