.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_locations_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_location_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Locations
    .inner
      %table.table
        %tr
          %th
            = t("activerecord.attributes.admin_location.location_address", :default => t("activerecord.labels.location_address", :default => "Location"))
          %th= t("web-app-theme.created_at", :default => "Updated at")
          %th.last &nbsp;
        - @locations.each do |location|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to location.location_name, admin_location_path(location)
            %td
              = location.updated_at.strftime("%D")
            %td.last
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_location_path(location)
              |
              = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_location_path(location), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
