.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_slideshow_images_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_slideshow_image_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      SlideshowImages
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_slideshow_image.slide_file_name", :default => t("activerecord.labels.slide_file_name", :default => "Slide_file_name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @slideshow_images.each do |slideshow_image|
          %tr{:class => cycle("odd", "even")}
            %td
              = slideshow_image.id
            %td
              = link_to slideshow_image.slide_file_name, admin_slideshow_image_path(slideshow_image)
            %td
              = slideshow_image.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_slideshow_image_path(slideshow_image)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_slideshow_image_path(slideshow_image)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_slideshow_image_path(slideshow_image), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
