!!!
%html
  %head
    %title Cottage Health Care Services
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override"
    = javascript_include_tag :defaults
    = javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
    = csrf_meta_tag
  %body{:id => body_id}
    #container
      #header
        %h1
          = link_to "Cottage Health Care Services", root_url
        #user-navigation
          %ul.wat-cf
            %li
              = link_to "Profile", admin_user_url(current_user)
            %li
              = link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'admin/pages' ? 'active' : '' }
              %a{:href => admin_pages_path} Pages
            %li{:class => controller.controller_path == 'admin/services' ? 'active' : '' }
              %a{:href => admin_services_path} Services
            %li{:class => controller.controller_path == 'admin/slideshow_images' ? 'active' : '' }
              %a{:href => admin_slideshow_images_path} Slideshow Images
            %li{:class => controller.controller_path == 'admin/locations' ? 'active' : '' }
              %a{:href => admin_locations_path} Locations
            %li{:class => controller.controller_path == 'admin/users' ? 'active' : '' }
              %a{:href => admin_users_path} Users
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Cottage Health Care Services.
        #sidebar
          = yield :sidebar
